@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background-color: #000000;
}

input::placeholder,
textarea::placeholder {
  color: rgba(255, 255, 255, 0.25);
}

